[[Unit]
Description=Python Scraper daemon for https://www.cryptocompare.com/
After=network-online.target


[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/
ExecStart=/opt/scraper.py
StandardOutput=syslog
StandardError=syslog
WatchdogSec=900
Restart=always


[Install]
WantedBy=multi-user.target
